node_modules
.env
certs/
*.key
*.crt
*.pem
logs/
dist/
coverage/
*.log
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.cache
*.zip
*.tar.gz
*.tgz
*.7z
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.class
*.jar
*.war       